@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap);
//========================================================================================================================================================
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
//========================================================================================================================================================
.block {
  background-color: rgba(#000, 0.3);
  // .block__container
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: calc(8px + 20 * ((100vw - 320px) / (1200 - 320)));
  }
}
.card {
  padding: 1.5rem 1rem;
  background-color: #fff;
  border-radius: 4px;
  min-height: 100vh;
}
//========================================================================================================================================================
.preview {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 10px;
  padding: 0.5rem;
  padding-bottom: calc(15px + 15 * ((100vw - 320px) / (1200 - 320)));
  &__item {
    display: flex;
    flex: 1 1 24%;
  }
  &__image {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    border-radius: 4px;
    &.removing {
      transform: scale(0);
      transition: transform 0.3s linear;
    }
    @media (any-hover: hover) {
      &:hover {
        .preview__remove {
          opacity: 1;
        }
        .preview__info {
          bottom: 0;
        }
      }
    }
  }
  &__remove {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    background-color: rgba(#fff, 0.6);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: all 0.22s linear;
    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(#fff, 0.75);
      }
    }
  }
  &__info {
    height: 25px;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    font-size: 14px;
    background-color: rgba(#fff, 0.65);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
    transition: bottom 0.2s linear;
    span {
      flex: 0 1 50%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
  &__progress {
    background-color: #27da5c;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: width 0.22s linear;
    .preview__info {
      display: none;
    }
  }
}
//========================================================================================================================================================
.btn {
  color: #27da5c;
  border-radius: 99px;
  border: 1px solid #27da5c;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.22s linear;
  &.primary {
    background-color: #27da5c;
    color: #fff;
  }
  &:active {
    box-shadow: inset 1px 1px 1px rgba(#000, 0.3);
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}
//========================================================================================================================================================
input[type="file"] {
  display: none;
}
//========================================================================================================================================================
.images {
  border-top: 2px solid #dadada;
  padding-top: calc(15px + 15 * ((100vw - 320px) / (1200 - 320)));
  &__body {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 10px;
    & div {
      flex: 1 1 30%;
      position: relative;
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #eee;
        width: 100%;
        z-index: 3;
      }
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
